/**
 * @format
 */

.gridLayout {
  margin: 0 auto;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
}

@media screen and (max-width: 446px) {
  .gridLayout {
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr)) !important;
  }
}
