/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

h1.header {
  margin: 1.5rem 0 0.5rem;
}

.container {
  margin: 0 auto;
  max-width: var(--ifm-container-width-xl);
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  width: 100%;
}

section > div > h1 {
  font-size: 1.375rem;
  line-height: 2.0625rem;
  font-weight: 700;
  color: #000000;
}

section > div > h4 {
  font-size: 1rem;
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  color: #000000;
}

@media screen and (max-width: 966px) {
  .heroBanner {
    padding: 2rem;
  }
}

.blogPreview {
  margin-bottom: 4em;
}
